/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*ALL HTML elements have default values for their "margin"
and "padding" properties. Giving them the value of "0"
makes it easier for us to manipulate the size and positioning of
elements.*/

nav {
	/*Shorthand property:  Apply padding on all sides*/
	padding: 0.8rem;
	/*Creates space between the nav and the intro section*/
	/*The "margin-bottom" property only changes the space
	at the bottom of the element. This is good for
	instances where a single space is needed to be changed.*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator:  Type_Selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align" property is still better to use.
Manipulating the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected results.*/

/*We have used descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*
- The selector used is a descendant selector. Even though there is only one button preosent in the page, this is appropriate as it helps in code readability telling the developer that the button is located in the intro section.
- The "font-weight" property changes the thickness of text.
- The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button.*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*Inline-block allows the card to appear beside each other*/
	display: inline-block;
	/*Vertical align top allows our elements to be aligned at the top*/
	vertical-align: top;
	/*Allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*Use only 30% and not 33.33% to avoid overflow and horizontal scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*ACTIVITY*/
#pre-footer {
	background-color: #002540;
}

#pre-footer .col {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 20%;
	color: white;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 0.3rem;
	line-height: 1.7rem;

			 }






